@page
@model Iteracion_2.Pages.Articulos.RevisionModel
@{
    ViewData["Title"] = "Revision";
}

<html>
<head>
    <meta charset="utf-8" />
    <title>Shieldship | Miembros</title>

    <link rel="stylesheet" href="~/css/revisar.css">
    <link rel="stylesheet" href="~/css/lista-miembros.css">
    <link rel="stylesheet" href="~/css/article-list-basic.css">

    
    <script src="https://kit.fontawesome.com/8dbd1c7c50.js" crossorigin="anonymous"></script>
</head>
<body>
    <h3>Articulos pendientes de revisión</h3>

    <ul class="article-list-basic">
        @for (int index = 0; index < Model.ArticulosPendientes.Count; index++)
        {
            <li id="@index">
                <div>
                    <h2><a href="#@index">@Model.ArticulosPendientes[index][1]</a></h2>
                    <p></p>
                    <span>
                        por
                        @{
                            int artIDPk = Int32.Parse(Model.ArticulosPendientes[index][0]);
                            string titulo = Model.ArticulosPendientes[index][1];
                            string[] autores = Model.ArticulosPendientes[index][2].Split(',');
                            string[] usuarios = Model.ArticulosPendientes[index][3].Split(',');
                            for (int indexJ = 0; indexJ < autores.Length; indexJ++)
                            {
                                <a href="~/Perfil/Perfil?UsuarioURL=@usuarios[indexJ]">@autores[indexJ]</a>
                            }
                        }

                    </span>
                    <br />
                    <br />
                    <a href="~/Articulos/FormularioRevision?artId=@artIDPk" class="read-more">Revisar</a>
                    <br />
                    <br />
                    <a href="#exampleModal" type="button" class="read-more" data-toggle="modal" data-target="#exampleModal" data-articulo="@artIDPk" data-titulo="@titulo">Solicitar Colaboración</a>
                    <a href="#exampleModalLong" type="button" class="read-more" data-toggle="modal" data-target="#exampleModalLong" data-articulo="@artIDPk" data-titulo="@titulo">Asignar revisor</a>

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="exampleModalLabel">¿Desea Solicitar la Colaboración de los Miembros de núcleo?</h4>

                                </div>
                                <form asp-page-handler="send" method="post">
                                    <div class="modal-body">
                                        <input id="artId" type="hidden" name="artID" runat="server" />
                                        <input id="titulo" type="hidden" name="titulo" runat="server" />
                                    </div>

                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Enviar Solicitud</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="exampleModalLabel"><b>Agregue de 3 a 5 revisores.</b></h4>
                                </div>
                                <form asp-page-handler="send" method="post">
                                    <div class="modal-body">
                                        <input id="artIdRevisar" type="hidden" name="artIdRevisar" runat="server" />
                                        <input id="tituloRevisar" type="hidden" name="tituloRevisar" runat="server" />

                                        <div class="row">
                                            <div id="revisores" class="col-lg-5">
                                                <h4><b>Revisor</b></h4>
                                                <div class="form-group">

                                                    <input type="text" class="form-control" placeholder="usuario" name="task" maxlength="49">

                                                    <button id="agrega-revisor" type="button">Agregar</button>
                                                </div>
                                                <div class="cantidad">
                                                    <ul class="list-unstyled" id="todo"></ul>
                                                </div>

                                            </div>


                                            <div class="col-lg-7">
                                                <h4><b>Respuestas:</b></h4>
                                                Aliquam maximus imperdiet lectus, in porttitor odio.
                                                Etiam congue enim turpis, ac pharetra odio convallis a.
                                                Proin consectetur odio in mattis commodo.
                                                Aliquam maximus imperdiet lectus, in porttitor odio.
                                                Etiam congue enim turpis, ac pharetra odio convallis a.
                                                Proin consectetur odio in mattis commodo.
                                                Aliquam maximus imperdiet lectus, in porttitor odio.
                                                Etiam congue enim turpis, ac pharetra odio convallis a.
                                                Proin consectetur odio in mattis commodo.
                                                Aliquam maximus imperdiet lectus, in porttitor odio.
                                                Etiam congue enim turpis, ac pharetra odio convallis a.
                                                Proin consectetur odio in mattis commodo.
                                                Aliquam maximus imperdiet lectus, in porttitor odio.
                                                Etiam congue enim turpis, ac pharetra odio convallis a.
                                                Proin consectetur odio in mattis commodo.
                                                Aliquam maximus imperdiet lectus, in porttitor odio.
                                                Etiam congue enim turpis, ac pharetra odio convallis a.
                                                Proin consectetur odio in mattis commodo.
                                                Aliquam maximus imperdiet lectus, in porttitor odio.
                                                Etiam congue enim turpis, ac pharetra odio convallis a.
                                                Aliquam maximus imperdiet lectus, in porttitor odio.
                                                Etiam congue enim turpis, ac pharetra odio convallis a.
                                                Proin consectetur odio in mattis commodo.

                                                Proin consectetur odio in mattis commodo.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        <button asp-page-handler="Asignar" type="submit" class="btn btn-primary" id="finalizar" disabled>Finalizar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>

    <script src="~/js/site.js"></script>
</body>
</html>



