@page
@model Iteracion_2.Pages.Miembros.MiembrosModel
@{
    ViewData["Title"] = "Miembros";
}

<html>
<head>
    <meta charset="utf-8" />
    <title>Shieldship | Miembros</title>

    <link rel="stylesheet" href="~/css/lista-miembros.css">
    <script src="https://kit.fontawesome.com/8dbd1c7c50.js" crossorigin="anonymous"></script>
</head>
<body>
    @if (Model.PesoMiembroActual == "5")
    {
    <form asp-page-handler="modificar" method="post">
        <input type="text" asp-for="@Model.NombreUsuario">
        <button class="btn btn-default">Degradar</button>
        @if (Model.Mensaje != null)
        {
            @if (Model.Mensaje.Contains("exito"))
            {
                
                <p class="clearfix" style="color:green ">@Model.Mensaje</p>
            }
            else
            {
                <p class="clearfix" style="color:red ">@Model.Mensaje</p>
            }
        }




    </form>
     }


    <div class="titulo">
        <h1>Miembros de la comunidad</h1>
    </div>

    <div class="row">
        <h1>Miembros Núcleo</h1>
        <ul class="user-profiles-list-basic">
            @for (int index = 0; index < Model.MiembrosComunidad.Count; index++)
            {
                @if (Model.MiembrosComunidad[index][4] == "5")
                {
                    <li>
                        <a href="~/Perfil/Perfil?UsuarioURL=@Model.MiembrosComunidad[index][0]" class="user-avatar">
                            <img src="~/images/miembro-nucleo.png" width="80" alt="Profile of @Model.MiembrosComunidad[index][1]" />
                        </a>
                        <p>
                            <a href="~/Perfil/Perfil?UsuarioURL=@Model.MiembrosComunidad[index][0]">@Model.MiembrosComunidad[index][1]</a>
                            <span>&#64;<i>@Model.MiembrosComunidad[index][0]</i></span>
                            <span>Correo: <i>@Model.MiembrosComunidad[index][2]</i></span>
                            <span>Méritos: <i>@Model.MiembrosComunidad[index][3]</i></span>
                        </p>
                    </li>
                }

            }
        </ul>
    </div>

    <br />

    <div class="row">
        <h1>Miembros Activos</h1>
        <ul class="user-profiles-list-basic">
            @for (int index = 0; index < Model.MiembrosComunidad.Count; index++)
            {
                @if (Model.MiembrosComunidad[index][4] == "3")
                {
                    <li>
                        <a href="~/Perfil/Perfil?UsuarioURL=@Model.MiembrosComunidad[index][0]" class="user-avatar">
                            <img src="~/images/miembro-activo.png" width="80" alt="Profile of @Model.MiembrosComunidad[index][1]" />
                        </a>
                        <p>
                            <a href="~/Perfil/Perfil?UsuarioURL=@Model.MiembrosComunidad[index][0]">@Model.MiembrosComunidad[index][1]</a>
                            <span>&#64;<i>@Model.MiembrosComunidad[index][0]</i></span>
                            <span>Correo: <i>@Model.MiembrosComunidad[index][2]</i></span>
                            <span>Méritos: <i>@Model.MiembrosComunidad[index][3]</i></span>
                        </p>
                    </li>
                }

            }
        </ul>
    </div>

    <br />

    <div class="row">
        <h1>Miembros Periféricos</h1>
        <ul class="user-profiles-list-basic">
            @for (int index = 0; index < Model.MiembrosComunidad.Count; index++)
            {
                @if (Model.MiembrosComunidad[index][4] == "0")
                {
                    <li>
                        <a href="~/Perfil/Perfil?UsuarioURL=@Model.MiembrosComunidad[index][0]" class="user-avatar">
                            <img src="~/images/imagen-perfil-recortada.png" width="80" alt="Profile of @Model.MiembrosComunidad[index][1]" />
                        </a>
                        <p>
                            <a href="~/Perfil/Perfil?UsuarioURL=@Model.MiembrosComunidad[index][0]">@Model.MiembrosComunidad[index][1]</a>
                            <span>&#64;<i>@Model.MiembrosComunidad[index][0]</i></span>
                            <span>Correo: <i>@Model.MiembrosComunidad[index][2]</i></span>
                            <span>Méritos: <i>@Model.MiembrosComunidad[index][3]</i></span>
                        </p>
                    </li>
                }

            }
        </ul>
    </div>

</body>
</html>

