@page
@model Iteracion_2.Pages.Perfil.EditarPerfilModel
@{
    ViewData["Title"] = "EditarPerfil";
}


<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/editar-perfil.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="row" id="primera-fila">
        <div class="col-lg-4" id="regresar-perfil">
            <a href="Perfil">&larr; Regresar al perfil</a>
        </div>
        <div class="col-lg-5 col-lg-offset-0" id="mensaje-respuesta">
            @if (Model.Message != null)
            {
                <h4> @Model.Message</h4>
            }
        </div>
    </div>



    <div class="container bootstrap snippets">
        <div class="row">
            <div class="col-xs-12 col-sm-9">
                <form asp-page-handler="save" class="form-horizontal" method="post">
                    <div class="panel panel-default">
                        <div class="panel-body text-center">
                            <img src="~/Images/imagen-perfil-recortada.png" class="img-circle profile-avatar" alt="User avatar">
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Información del Usuario</h4>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nombre de usuario</label>
                                <div class="col-sm-10">
                                    <input name="usuario-actual" type="text" class="form-control" value="@Model.UsuarioActual" readonly>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nombre</label>
                                <div class="col-sm-10">
                                    <input id="nombre" name="nombre" type="text" class="form-control" maxlength="50" value="@Model.InformacionPersonal[0]">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Apellido</label>
                                <div class="col-sm-10">
                                    <input id="apellido" name="apellido" type="text" class="form-control" maxlength="50" value="@Model.InformacionPersonal[1]">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Información Laboral</label>
                                <div class="col-sm-10">
                                    <textarea rows="3" id="info-laboral" placeholder="Indique su información laboral aquí." class="form-control" name="laboral">@Model.InformacionPersonal[3]</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Información Biográfica</label>
                                <div class="col-sm-10">
                                    <textarea rows="3" id="info-biografica" placeholder="Indique su información biográfica aquí." name="biografica" class="form-control">@Model.InformacionPersonal[4]</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">País</label>
                                <div class="col-sm-10">
                                    <input type='text' id="pais" placeholder="País" class="form-control" name="pais" maxlength="20" value="@Model.InformacionPersonal[8]">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Idiomas</label>
                                <div class="col-sm-10">
                                    <input type='text' id="idiomas" placeholder="Idiomas" class="form-control" name="idiomas" maxlength="20" value="@Model.InformacionPersonal[10]">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Preferencias</h4>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Pasatiempos</label>
                                <div class="col-sm-10">
                                    <input type="text" id="pasatiempos" placeholder="Pasatiempos" class="form-control" name="pasatiempos" maxlength="50" value="@Model.InformacionPersonal[11]" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Habilidades</label>
                                <div class="col-sm-10">
                                    <input type="text" id="habilidades" placeholder="Habilidades" class="form-control" name="habilidades" maxlength="50" value="@Model.InformacionPersonal[9]" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Información de Contacto</h4>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Número de Teléfono</label>
                                <div class="col-sm-10">
                                    <input type='text' onkeypress='validate(event)' id="telefono" placeholder="Teléfono de contacto" class="form-control" name="telefono" maxlength="20" value="@Model.InformacionPersonal[5]">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Correo electrónico</label>
                                <div class="col-sm-10">
                                    <input type="email" id="correo" placeholder="Correo electrónico" class="form-control" name="correo" maxlength="50" value="@Model.InformacionPersonal[6]" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-0">
                            <input type="submit" class="btn-success" value="Guardar" /><br />
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="row" id="ultima-fila">
        <div class="col-lg-4" id="regresar-perfil">
            <a href="Perfil">&larr; Regresar al perfil</a>
        </div>
    </div>

    <script>
        function validate(evt) {
            var theEvent = evt || window.event;

            // Handle paste
            if (theEvent.type === 'paste') {
                key = event.clipboardData.getData('text/plain');
            } else {
                // Handle key press
                var key = theEvent.keyCode || theEvent.which;
                key = String.fromCharCode(key);
            }
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        }
    </script>
</body>
</html>

