@page
@model Iteracion_2.Pages.PerfilModel
@{
    ViewData["Title"] = "Perfil";
}

<html>
<head>
    <meta charset="utf-8" />

    <script src="https://kit.fontawesome.com/8dbd1c7c50.js" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link rel="stylesheet" href="~/css/border-radius.css">
    <link rel="stylesheet" href="~/css/perfil.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="fb-profile">
                <div class="row">
                    <img align="left" class="fb-image-lg" src="~/images/imagen-perfil-recortada.png" alt="Profile image example" />
                </div>
                <div class="row">
                    <div class="fb-profile-text">
                        <div class="col-lg-12">
                            <h1>@Model.InformacionPersonal[0] @Model.InformacionPersonal[1]</h1>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div> <!-- /container fluid-->
    <div class="container">
        <div class="col-sm-8">
            <div data-spy="scroll" class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_default_1" data-toggle="tab">
                                Información Personal
                            </a>
                        </li>
                        <li>
                            <a href="#tab_default_2" data-toggle="tab">
                                Información Biográfica
                            </a>
                        </li>
                        <li>
                            <a href="#tab_default_3" data-toggle="tab">
                                Artículos
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_default_1">

                            <p>
                                @Model.InformacionPersonal[3]
                            </p>

                        </div>
                        <div class="tab-pane" id="tab_default_2">
                            <p>
                                @Model.InformacionPersonal[4]
                            </p>
                        </div>
                        <div class="tab-pane" id="tab_default_3">
                            


                            @if (Model.ArticulosUsuario.Count > 0)
                            {
                            <ul class="article-list-basic">
                                @for (int index = 0; index < Model.ArticulosUsuario.Count; index++)
                                {
                                <li>
                                    <div>
                                        <h2><a href="#">@Model.ArticulosUsuario[index][1]</a></h2>
                                        <p>@Model.ArticulosUsuario[index][2]</p>
                                        <p>
                                            Autores:
                                            @{
                                                string[] autores = Model.ArticulosUsuario[index][3].Split(',');
                                                string[] usuarios = Model.ArticulosUsuario[index][4].Split(',');
                                                for (int indexJ = 0; indexJ < autores.Length; indexJ++)
                                                {
                                                    <a href="~/Perfil/Perfil?UsuarioURL=@usuarios[indexJ]">@autores[indexJ]</a>
                                                }
                                            }
                                        </p>
                                    </div>
                                </li>
                                }
                            </ul>
                            }else{
                                <p>
                                    No hay artículos disponibles.
                                </p>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="menu_title">
                    Sobre mi
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="email">Pasatiempos:</label>
                                <p>@Model.InformacionPersonal[11]</p>
                            </div>
                            <div class="form-group">
                                <label for="email">Habilidades:</label>
                                <p>@Model.InformacionPersonal[9]</p>
                            </div>
                            <div class="form-group">
                                <label for="email">Idiomas:</label>
                                <p>@Model.InformacionPersonal[10]</p>
                            </div>
                            <div class="form-group">
                                <label for="email">Pais:</label>
                                <p>@Model.InformacionPersonal[8]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="menu_title">
                    Participación en la comunidad
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="email">Meritos:</label>
                                <p>@Model.InformacionPersonal[7]</p>
                            </div>
                            <div class="form-group">
                                <label for="email">Peso en la comunidad:</label>
                                <p>Miembro @Model.InformacionPersonal[2]</p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <form asp-page-handler="send" method="post">
                                <button type="submit" class="btn btn-danger btn-block">Solicitar promocion de rango</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>